!!! 5
%html
%head
	%title Movie Review on Rails
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Movie Review", root_path
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-left
					%li= link_to "New Movie Review", new_movie_path
					%li= link_to "Account Settings", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else 
				%ul.nav.navbar-nav.navbar-left
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Log In", new_user_session_path

			= form_tag search_movies_path, method: :get, class: "navbar-form navbar-right", role: "search" do 
				%p
					= text_field_tag :search, params[:search], class: "form-control"
					= submit_tag "Search", name: nil, class: "btn btn-info"


	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"
			
		= yield






